[[headers]]
  for = "/*"
  [headers.values]
  Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"

[[headers]]
  for = "/assets/*"
  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/sw.js"
  [headers.values]
  Cache-Control = "no-cache"

[[headers]]
  for = "/index.html"
  [headers.values]
  Cache-Control = "public, max-age=0, must-revalidate"
